@model RecoverPasswordViewModel
<div class="modal fade" id="AddUpdateModelPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="AddUpdateModelLabel">Recuperar contraseña</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <flash dismissable="true" />
                    <span id="mySpan" style="display:none">This is a span with some text in it</span>
                    @*<input type="hidden" asp-for="Quantity" />*@
                    <div class="card text-center border-secondary mb-3" style="max-width: 75rem;">
                        <div class="card-header bg-transparent border-danger">
                            <h1> Recuperar contraseña </h1>
                        </div>
                        <div class="card-body text-dark">

                            <div class="form-group">
                                <label asp-for="UserName" class="control-label"></label>
                                <input asp-for="@Model.UserName" placeholder="Usuario" class="form-control" style="float: left;text-align: center;border-radius: 60px;" required />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                        </div>
                        <hr />
                        <div class="card-footer  bg-transparent border-danger text-muted">
                            <div class="form-group">
                                @*<button type="submit" class="btn btn-outline-primary  btn-sm" style="border-radius: 60px;"> <span class="glyphicon glyphicon-ok"></span> Add the Order</button>
                            <a asp-action="NewOrder" class="btn btn-outline-secondary btn-sm" style="border-radius: 60px;"><i class="glyphicon glyphicon-share-alt"></i> Back to list</a>*@
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" id="btnUpdateSpeciality" onclick="return AddProduct();"> Send Data </button>
                <button type="button" class="btn btn-outline-default" data-dismiss="modal"> Close </button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript">

    </script>
}