@model ConfirmPasswordViewModel
@{
    ViewData["Title"] = "Confirmar Contraseña";
}

<div class="container" style="border-radius: 60px;">
    <form method="post" asp-action="ConfirmPassword" onsubmit="return showPleaseWait();">
        <div class="card text-center">
            <div class="card-header">
                <div asp-validation-summary="ModelOnly"></div>
                <flash dismissable="true" />
            </div>
            <div class="card-body">
                <h5 class="card-title"> Confirmar Contraseña </h5>
                <div class="row">
                    <div class="col">
                        <input type="text" asp-for="UserName" class="form-control" placeholder="Usuario">
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <input asp-for="OldPassword" type="password" class="form-control" id="inputPassword4" placeholder="actual Password">
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col">
                        <input asp-for="NewPassword" type="password" class="form-control" placeholder="Nuevo Password">
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirma Password">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <br />
            </div>
            <div class="card-footer text-muted">
                <div class="container text-center">
                    <button type="submit" class="btn btn-outline-primary btn-block text-uppercase" style="border-radius: 60px;"><i class="bi bi-fingerprint"></i> Change Password
                    </button>
                    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary btn-block text-uppercase" style="border-radius: 60px;" onclick="return showPleaseWait()"><i class="bi bi-house-door"></i> BacktoList </a>
                </div>
            </div>
        </div>
    </form>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        $(function () {
            $("#toggle_pwd").click(function () {
                $(this).toggleClass("fa-eye fa-eye-slash");
                var type = $(this).hasClass("fa-eye-slash") ? "text" : "password";
                $("#OldPassword").attr("type", type);
                $("#NewPassword").attr("type", type);
                $("#Confirm").attr("type", type);
            });
        });
    </script>
}
