@model RecoverPasswordViewModel
@{
    ViewData["Title"] = "Recuperar Contraseña";
    Layout = null;
}

<h1>Recuperar Contraseña</h1>

<div class="container smfont">
    <form asp-action="RecoverPasswordDialog" autocomplete="off" onsubmit="return jQueryAjaxPost(this);">
        <div class="box-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <flash dismissable="true" />
            <div class="form-group">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control" placeholder="Email."/>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-outline-primary" data-bs-dismiss="modal"><i class="bi bi-x-octagon"></i> Cancelar</button>
            <button type="submit" class="btn btn-sm btn-outline-success"><i class="bi bi-save-fill"></i> Guardar</button>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
