@model ProveedorDto
@{
    ViewData["Title"] = "Delete";
}
<h1>Borrar</h1>

<h3>¿Esta seeguro de querer borrar?</h3>
<div>
    <partial name="_ProveedorDetails" />
    <form asp-action="Delete" asp-controller="Proveedors" method="get">
        <input type="hidden" asp-for="Idproveedor" />
        <input type="submit" value="Borrar" class="btn btn-outline-danger" />
        <a asp-action="Index" class="btn btn-outline-success">Regresar</a>
    </form>
</div>
