@model IEnumerable<GenderDto>
@{
    ViewData["Title"] = "Index";
}
@section Estilos{
    <!-- ============================================================
    =ESTILOS PARA ESTA PAGINA
    ===============================================================-->
    <link rel="stylesheet" href="~/vendor/datatables/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/buttons.dataTables.min.css">
}


<div class="container-fluid">
    <div class="card mt-2">
        <div class="card-header text-danger">
            <i class="bi bi-x-diamond-fill"></i>  <strong> Generos </strong>
            <flash dismissable="true" />
        </div>
        <div class="card-body">
            <div id="view-all">
                @await Html.PartialAsync("_ViewAll", Model)
            </div>
        </div>
    </div>
</div>


<partial name="_AddOrEditDialog" />
<partial name="_DeleteDialog" />

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <!-- ============================================================
    =SCRIPTS PARA ESTA PAGINA
    ===============================================================-->

    <script src="~/js/vistas/Medidum_Index.js"></script>
    <script src="~/js/showmodal.js"></script>

    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.responsive.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.buttons.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/jszip.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.html5.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.print.min.js"></script>



    <script>
        sc_deleteDialog.openModal('deleteItem', true, 'btnYesDelete', '/Genders/Delete/', false);
    </script>

}


